/*
  Setup up the sections with backgrounds, sizes, and positions.
*/
#about {
    background: url(../img/codeback.png) 50% 0 fixed;
    /*background: #E53935 50% 0 fixed;*/
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 125px 0;
    color: #fff;
}
#experience {
    background: #607D8B 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0;
    color: #fff;
}
#programming {
    /*background: #EF6C00 50% 0 fixed;*/
    background: url(../img/codeback.png) 50% 0 fixed; 
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 125px 0;
    color: #fff;
}
#contact {
  background: #039BE5 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 50px 0;
  color: #fff;
}
/*
  Class specific styling
*/
.intro {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

a:hover {
  color: #304FFE;
  text-decoration: none;
}